.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: beige;
    border: 1px solid black;
    font-family: 'Courier New', Courier, monospace;
}
.submit{
    align-self: center;
    margin: 30px;
    padding: 5px;
    background-color: rgb(208, 180, 235);
}
.text,.label{
    margin-left: 10px;
}
h1{
    align-self: flex-start;
    margin: 10px;
}
body{
    background-color: rgb(158, 158, 125);
}
.flex{
    display: flex;
}
.main2{
    display: flex;
    flex-direction: column;
    border:1px solid black;
    height: 100vh;
    width:50%;
    margin-top:15px;
    background-color: beige;
    margin-right: 5px;
}

  .submit2{
    align-self: center;
    margin-top:5px;
    margin-left: 10px;
    margin-bottom: 25px;
    padding: 5px;
    background-color: rgb(208, 180, 235);
  }
  .li{
     font-size: 20px;
     color: maroon;

  }
.main3{
    display: flex;
    flex-direction:column;
    border:1px solid black;
    height: 100vh;
    width:50%;
    margin-top:15px;
    background-color: beige;
}
    .li2{
        color: green;
        font-size: 20px;
    }

